:root{
    --header-color: rgb(122, 138, 174);
    --light: white;
    --line-break: rgb(64, 64, 64);
    --dark: rgb(15 54 69);
}

body{
    background-color: rgb(239, 239, 239);
    font-family: Arial, Helvetica, sans-serif;
}

/*
----------------------------------------
Header and Navigation
----------------------------------------
*/
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--dark);
    padding: 10px 0px 10px 0px;
}

/*Styling for the name*/
#name{
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
    padding: 5px 10px 5px 20px;

}

/*positioning for the navigation bar*/
nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/*Removes the bullet points for the list*/
ul {
    list-style-type: none;
}

/*repositions the */
ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Changes the color of the navagation text*/
ul.navcolor a{
    color: var(--light); 
    text-decoration: none;
}

ul.navcolor a:hover{
    color: rgb(190, 190, 190);
}


/*Background image*/
.background{
    position: relative;
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pexels-pixabay-235994.jpg");
    background-color: white;/*Displays a blank white image if the picture does not appear*/
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

#profile-pic{
    position: absolute;
    left: 35%;
    bottom: 0%;
    border: var(--dark) solid 5px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 25px;
    background-image: url(../images/IMG_6790.JPG);
    background-color: white;
    background-size: cover;
    background-position: 60%; 
}

/*positioning and styling for the subtitle box*/
div.background h2{
    background-color: var(--dark);
    color: var(--light);
    padding: 8px;
    position: absolute;
    bottom: 20px;
    right: 60px;
}

/*
----------------------------------------
Main Content
----------------------------------------
*/
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Changes the margins for the About Me section*/
main section{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

/*Styling and positioning for the section titles*/
section h1{
    display: inline-block;
    color: rgb(75, 75, 75);
    margin-left: 50px;
    margin-right: 50px;
    width: 50px;
}

section.aboutme p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-left: 2px solid var(--line-break);
    padding-left: 20px;
    border-width: medium;
    width: auto;
    line-height: 1.5;
}

/*---Work Section---*/
section.work{
    margin-bottom: 16px;
    background-color: var(--dark);
    padding: 4% 0%;
}

#work{
    color: white;
}

.container-column{
    display:flex;
    flex-direction: column;
    border-left: 2px solid var(--line-break);
    border-color: white;
    border-width: medium;
    padding-left: 20px;
    width: 100%;
    margin-right: 5%;
}

figure{
    margin: 0px;
    position: relative;
    border: var(--light) solid;
    border-width: medium;
}

img:hover{
    filter: brightness(125%);
    transition: 0.6s;
}

span.programs{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-small;
}

/*Image styling for the first application*/
img.projectOne{
    height: 200px;
    width: 100%;
    min-height: 100%;
    object-fit: cover;

}

figure h2{
    background-color: var(--light);
    color: var(--dark);
    padding: 5px 5px 5px 5px;
    position: absolute;
    bottom: 15px;
    left: 0px;
}

div.container-column figure{
    margin-bottom: 10px;
}

/*Image styling for the other applications*/
img.application{
    height: 200px;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

div.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/*Sizing and spacing for each individual application in the work section*/
div.projects figure{
    width:48.7%;
    margin: 3px 3px 15px 0px;
}

/*---Contact Section---*/
section.contact{
    margin-bottom: 16px;
}

/*Styling and spacing for the contact section*/
div.personal-info{
    border-left: 2px solid var(--line-break);
    padding-left: 20px;
    padding-top: 1.5%;
    width: 100%;
    border-width: medium;
}

/*Styling for the links*/
div.personal-info a{
    color: black;
    text-align: center;
}

div.personal-info a:hover{
    color: gray;
}
/*Spacing for the different links*/
div.personal-info ul{
    display: flex;
    justify-content: space-evenly;
}

/*Adjusts how the work section is displayed when the screen size is 992px or less*/
@media screen and (max-width: 992px) {
    div.projects figure {
        width: 100%;
    }

    /* img.projectOne{
        height: 300px;
    } */
}

