:root{
    --header-color: rgb(122, 138, 174);
    --light: rgb(103, 235, 200);
    --line-break: rgb(64, 64, 64);
    --dark: rgb(56, 50, 50);
}
body{
    background-color: rgb(239, 239, 239);
    font-family: Arial, Helvetica, sans-serif
}

/*
----------------------------------------
Header and Navigation
----------------------------------------
*/
header{
    background-color: var(--dark);
    padding: 10px 0px 10px 0px;
}


#name{
    display: inline-block;
    background-color: var(--light);
    color: var(--dark);
    padding: 5px 10px 5px 20px;

}

nav{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

a{
    color: var(--light); 
}

/*Background image*/
.background{
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-color: white;/*Displays a blank white image if the picture does not appear*/
    background-image: url("../images/IMG_6790.JPG");
    background-size: cover;
    background-position: center;
    position: relative;
}

div.background h2{
    background-color: var(--light);
    color: var(--dark);
    padding: 8px;
    position: absolute;
    bottom: 20px;
    right: 60px;
}

/*
----------------------------------------
Main Content
----------------------------------------
*/
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Changes the margins for the About Me section*/
main section{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

section h1{
    display: inline-block;
    color: rgb(75, 75, 75);
    margin-left: 50px;
    margin-right: 50px;
    width: 50px;
}

p{
    border-left: 2px solid var(--line-break);
    padding-left: 20px;
    border-width: medium;
    width: auto;
    line-height: 1.5;
}

/*Work Section*/
section.work{
    margin-bottom: 16px;
}

.container-column{
    display:flex;
    flex-direction: column;
    border-left: 2px solid var(--line-break);
    border-width: medium;
    padding-left: 20px;
    width: 100%;
}

figure{
    margin: 0px;
    position: relative;
    border: var(--light) solid;
    border-width: medium;
}

/*Image styling for the first application*/
img.projectOne{
    height: 200px;
    width: 100%;
    min-height: 100%;
    object-fit: cover;

}

figure h2{
    background-color: var(--light);
    color: var(--dark);
    padding: 5px 5px 5px 5px;
    position: absolute;
    bottom: 15px;
    left: 0px;
}

div.container-column figure{
    margin-bottom: 10px;
}

/*Image styling for the other applications*/
img.application{
    height: 200px;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

div.projects{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

div.projects figure{
    width:48.7%;
    margin: 3px 3px 15px 0px;
}

/*Contact Section*/
section.contact{
    margin-bottom: 16px;
}

div.personal-info{
    border-left: 2px solid var(--line-break);
    padding-left: 20px;
    width: 100%;
    border-width: medium;
}

div.personal-info a{
    color:rgb(58, 58, 58);
    text-align: center;
}

div.personal-info ul{
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    div.projects figure {
        width: 100%;
    }

    img.projectOne{
        height: 300px;
    }
  
}

